$color-primary: #EE4266;

$color-gray-1: #080808; // Sidebar and Side Content (Cards and Calendar)
$color-gray-2: #080808; // Main Background
$color-gray-3: #000; // Side Content Background and Main Content (Cards)

$color-white-1: #F2F2F2; // H1 Text
$color-white-2: #000; // Intro Card Text || Card's Titles || Module's Name Side Section
$color-white-3: #EDEDED; // Profile and Notification Text || Dark Mode Switch
$color-white-4: #E0E0E0; // Module's Description Side Section

$color-sidebar-text: #000000;
$color-sidebar-icon: #000000;

$sidebar-size-default: 78px;
$sidebar-size-active: 235px;

$title-card-margin: 1rem;

$cards-title-size: 2rem;